{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Post {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данное объявление?</h2>
    <table>
        <thead>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Текст
                </td>
            </tr>
        </thead>
        <tr>
            <td>
               {{ post.title }}
            </td>
            <td>
                {{ post.date_create|date:'d-M-y h:m' }}
            </td>
            <td>
                {{ post.author }}
            </td>
            <td>
                {{ post.text|truncatechars:50 }}
            </td>
        </tr>
    </table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить">
</form>
{% endblock content %}